$link:rgb(61, 146, 201);
$blue-tagline:rgb(176, 202, 219);
$footer-link:#ccc;
$gray-title:#222;
$gray-meta:#999;
$gray-meta-img:#333;
$gray-description:#444;
$gray-subhead:#aaa;
$gray-subhead-border:#eee;
$bg-sidebar:rgb(61, 79, 93);
$white:#fff;

$tag-green:#5aba59;
$tag-red:#df2d4f;
$tag-blue:#4d85d1;
$tag-violet:#8156a7;